@use '../../_css/common.scss' as *;

.productHero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  width: 100%;

  @include small-break {
    grid-template-columns: 1fr;
  }
}

.price{
  font-weight: 600;
  font-size: medium;



}

.mediaWrapper {
  position: relative;
  min-height: 400px;
  background-color: var(--color-dark-50);

  @include small-break {
    min-height: 250px;
  }
}

.image {
  padding: 24px;
  object-fit: contain;
  aspect-ratio: 1/1;
  max-width: 100%;
}
.milOptionsContainer{
  margin-top: 2vh;
  display: flex;
  justify-content: center;
  gap: 10px;
  @include small-break{
    margin-top: 0.5vh;
  }
}
.details {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.detailsContentRow{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.categoryWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 16px;
  margin-top: 8px;
}

.category {
  font-size: 16px;
  
}


.stock {
  color: var(--color-green-500);
}

.separator {
  color: var(--color-gray-500);
  padding: 0 10px;
}

.description {
  padding: 30px 0;
}